*{ 
    margin: 0; 
    padding: 0; 
    font-family: quicksand, sans-serif; 
} 

@font-face { 
    font-family: quicksand; 
    src: url(assets/quicksand-v30-latin-regular.woff); 
} 
 
 
.header{ 
    font-weight: bolder; 
    display: flex; 
    margin-left: 155px; 
    background-image: url(assets/logo.png); 
    background-size: 40px; 
    background-repeat: no-repeat; 
    background-position: left; 
} 
 
.head{ 
    background-color: #C0C0C0; 
    padding-top: 10px; 
    padding-bottom: 12px; 
} 
 
.one{ 
    color: #A51919; 
    margin-left: 50px; 
} 
 
.lplogo{ 
    color: #2F3542; 
    margin-left: 7px; 
} 
 
.navbar{ 
    margin-top: 7px; 
} 
 
.navbar a{ 
    margin-left: 157px; 
    text-decoration: none; 
    color: #2F3542; 
    font-weight: bold; 
}

.judul{
    margin-top: 5%;
    margin-left: 30px;
}

.foto img{
    margin-left: 430px;
    margin-top: 20px;
    width: 450px;
}

p{
    margin:  50px 100px 100px 100px;
}

.judul h1{
    text-align: center;
    margin-left: -200xpx;
}

hr{
    border: solid 1px black;
}

.footer{
    background-color: #B6B6B6;
    padding-top: 300px;
}
.text-footer h2{
    margin-left: 10%;
    margin-top: -20%;
    font-size: 30px;
}
.text-footer2{
    margin-left: 50%;
    margin-top: -260px;
}
.text-footer3{
    margin-left: 65%;
   margin-top: -200px;
}
.text-footer4{
    margin-left: 80%;
    margin-top: -135px;
}
.part{
    margin-left: 14%;
}
.bawah-footer{
    background-color: #f8f8f8;
    margin-top: 65px;
}
.bawah-footer h5{
    margin-left: 1100px;
    margin-top: 80px;
}
.one{
    color: #A51919;
}
.liputan{
    color: #183258;
}


