*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.header{
    font-weight: bolder;
    display: flex;
    margin-left: 155px;
    background-image: url();
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: left;
}

.head{
    background-color: #C0C0C0;
    padding-top: 10px;
    padding-bottom: 12px;
}

.one{
    color: #A51919;
}

.lplogo{
    color: #2F3542;
    margin-left: 7px;
}

.navbar{
    margin-top: 7px;
}

.navbar a{
    margin-left: 157px;
    text-decoration: none;
    color: #2F3542;
    font-weight: bold;
}

.maincontainer{
    margin-top: 45px;
}

.photo1{
    width: 750px;
    border-radius: 30px;
    margin-left: 92px;
}

.cardmain{
    background-image: url(assets/img/foto1.png);
    width: 650px;
    height: 470px;
    background-position: center;
    background-size: cover;
    border-radius: 45px;
    color: white;
    margin-left: 155px;
    box-shadow: 0 0 5px black;
}

.judul h1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 50px;
}
.foto img{
    margin-left: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 700px;
    height: 400px;
}
.text{
    margin-left: 130px;
    margin-right: 130px;
    line-height: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 20px;
    word-spacing: 3px;
}
.hr3{
    border: 2px solid black;
    margin-top: 24px;
}
.footer{
    background-color: #B6B6B6;
    padding-top: 300px;
}
.text-footer h2{
    margin-left: 12%;
    margin-top: -20%;
    font-size: 30px;
}
.text-footer2{
    margin-left: 50%;
    margin-top: -20%;
}
.text-footer3{
    margin-left: 65%;
    margin-top: -188px;
}
.text-footer4{
    margin-left: 80%;
    margin-top: -9%;
}
.part{
    margin-left: 14%;
}
.bawah-footer{
    background-color: #f8f8f8;
    margin-top: 90px;
}
.bawah-footer h5{
    margin-left: 1100px;
}
.one{
    color: #A51919;
}
.liputan{
    color: #183258;
}
