*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.header{
    font-weight: bolder;
    display: flex;
    margin-left: 155px;
    background-image: url(assets/logo.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: left;
}

.head{
    background-color: #C0C0C0;
    padding-top: 10px;
    padding-bottom: 12px;
}

.one{
    color: #A51919;
    margin-left: 50px;
    margin-top: 3px;
}

.lplogo{
    color: #2F3542;
    margin-left: 7px;
    margin-top: 3px;
}

.navbar{
    margin-top: 10px;
    margin-left: 51px;
}

.navbar a{
    margin-left: 105px;
    text-decoration: none;
    color: #2F3542;
    font-weight: bold;
}

.maincontainer{
    margin-top: 45px;
}

.photo1{
    width: 750px;
    border-radius: 30px;
    margin-left: 92px;
}

.cardmain{
    background-image: url(assets/foto1.png);
    width: 650px;
    height: 470px;
    background-position: center;
    background-size: cover;
    border-radius: 45px;
    color: white;
    margin-left: 155px;
    box-shadow: 0 0 5px black;
}

.cmaintxt{
    margin-top: 370px;
    position: absolute;
    font-size: 32px;
    margin-left: 30px;
    text-shadow: 0 0 10px black, 0 0 20px black, 0 0 20px black;
}

.hr1{
    margin-left: 154px;
    border: 2px solid #C0C0C0;
    margin-top: 45px;
}

.middlecontainer{
    margin-top: 17px;
    margin-left: 154px;
}

.midimages{
    margin-top: 17px;
}

.midarticles{
    margin-top: 10px;
}

td img{
    width: 250px;
    height: 175px;
    border-radius: 20px;
    box-shadow: 0 0 3px black;
}

.marticle1{
    padding-left: 15px;
}

.midimages1 h5{
    margin-top: 5px;
}

.marticle2{
    padding-left: 15px;
}

.midimages2 h5{
    margin-top: 5px;
}

.hr2{
    margin-left: 154px;
    border: 2px solid #C0C0C0;
    margin-top: 25px;
}

.popularcontainer{
    margin-top: 17px;
    margin-left: 154px;
}

.trending{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.trendimg img{
    width: 338px;
    height: 205px;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}

.trendarticles {
    padding-top: 10px;
    font-size: 17px;
}

.tdt2{
    padding-left: 24px;
}

.tdt3{
    padding-left: 24px;
}

.tda2{
    padding-left: 24px;
}

.tda3{
    padding-left: 24px;
}

.hr3{
    margin-left: 154px;
    border: 2px solid #C0C0C0;
    margin-top: 24px;
}

.hr4{
    margin-left: 154px;
    border: 2px solid #C0C0C0;
    margin-top: 24px;
}

.footer{
    background-color: #B6B6B6;
    padding-top: 300px;
    margin-top: 65px;
}

.text-footer h2{
    margin-left: 12%;
    margin-top: -20%;
    font-size: 30px;
}

.text-footer2{
    margin-left: 50%;
    margin-top: -260px;
}

.text-footer3{
    margin-left: 65%;
   margin-top: -203px;
}

.text-footer4{
    margin-left: 80%;
    margin-top: -129px;
}

.part{
    margin-left: 15%;
    display: flex;
}

.bawah-footer{
    background-color: #f8f8f8;
    margin-top: 97px;
}

.bawah-footer h5{
    margin-left: 1100px;
}

.one2{
    color: #A51919;
    margin-left: 5px;
}

.liputan{
    color: #183258;
    margin-left: 4px;
}