*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container-1{
    box-sizing: border-box;
    position: absolute;
    width: 270px;
    height: 100%;
    background-color: #E3E3E3;
}
header p{
    color: #183258;
    margin-left: 99px;
    margin-top: -132px;
    
}
.container-1 a{
    text-decoration: none;
    color: black;
}
.container-1 header{
    font-size: 24px;
     color: #A51919;
    padding-left: 33px;
    line-height: 132px;
    background: #cacaca;
    font-weight: 500;
   
    
}
header i{
    font-size: 35px;
    
}
.container-1 ul p{
    line-height: 53px;
    font-size: 18px;
    color: black;
    padding-left: 50px;
    box-sizing: border-box;
}
.container-1 ul{
    margin-left: 10px;
}
.fa-solid{
    margin-right: 10px;
}
ul p:hover i{
    padding-left: 50px;
    transition: .500s;
}
.container-2{
    box-sizing: border-box;
    position: absolute;
    margin-left: 32%;
    padding-top: 125px;
}
.container-2 h3 a{
   display: block;
   width: 15%;
   height: 30px;
   text-align: center;
   padding: 6px;
   border-radius: 10px;
   background-color: #74B9FF;
   color: black;
}
 .judul{
    background-color: #74B9FF;
}
.container-2 table{
    margin-top: 10px;
    border: 1px solid black;
}
.container-2 tr th{
    padding: 5px;
    margin: 10px;
}
.tambah-berita{
    margin-top: 10px;
    margin-left: 20px;
}
.data{
    margin-left: 20px;
    margin-top: 10px;
}
.data input{
    justify-content: center;
    display: flex;
    width: 400%;
    height: 30px;
    border-radius: 10px;
    background-color: #eaeaea;
}
.simpan-berita input{
    display: flex;
    justify-content: center;
    background-color: #74B9FF;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin: 20px;
}
table td{
    justify-content: center;
    text-align: center;
    padding: 5px;
}
table {
    text-align: center;
}

table tr td:last-child{
    display: flex;
    justify-content: center;
    padding: 5px;
}

table tr td a button{
    text-align: center;
    background-color: green;
    border: none;
    border-radius:10px;
    width: 70px;
    height:30px;
    margin: 5px;
}

table tr td a:last-child button{
    background-color: red;
    margin: 5px;
}